{% extends 'main.html' %}

{% block style %}
    .more a{
        color: aliceblue;
        font-size: 12px;
    }
    td{
        color: aliceblue;
    }
    th{
        color: aliceblue;
    }
{% endblock %}

{% block content %}
    <h1>External Notifications</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Notification ID</th>
                <th>Message</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
                <tr>
                    <td>{{ notification.id }}</td>
                    <td>{{ notification.message }}</td>
                    <td>{{ notification.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
